{% extends 'users/base.html'%}
<!doctype html>
{% block body %}
<div class="container">

  <h1 class="my-3 text-center text-danger">All Customers </h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Customer Id</th>
      <th scope="col">Person Id</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Changed Date</th>
      <th scope="col">Comment</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>


    {% for i in data %}
    {% if forloop.counter0|divisibleby:2 %}
    <tr>
      <th scope="row">{{i.customer_id}}</th>

      <td><a href="{% url 'customer_full_detail_all' customer_id=i.customer_id%}">{{ i.person_id }}</a></td>

      <td>{{ i.creation_date }}</td>
      <td>{{ i.changed_date }}</td>
      <td>{{ i.comment }}</td>
      <td><a href="{% url 'customer_update' i.customer_id %}"><button class="btn btn-outline-success">Update</button></a></td>
    </tr>
    {% else %}
    <tr class="table-secondary">
      <th scope="row">{{i.customer_id}}</th>

      <td><a href="{% url 'customer_full_detail_all' customer_id=i.customer_id%}">{{ i.person_id }}</a></td>

      <td>{{ i.creation_date }}</td>
      <td>{{ i.changed_date }}</td>
      <td>{{ i.comment }}</td>
      <td><a href="{% url 'customer_update' i.customer_id %}"><button class="btn btn-outline-success">Update</button></a></td>
    </tr>
    {% endif %}
     {% endfor %}
    

 

  </tbody>
</table>
</div>
{% endblock %}