{% extends 'users/base.html'%}
<!doctype html>
{% block body %}
<div class="container">

  <h1 class="my-3 text-center text-danger">All Lawyers </h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Lawyer Id</th>
        <th scope="col">Person Id</th>
        <th scope="col">Fees Per Hour</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Changed Date</th>
        <th scope="col">Comment</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      {% if forloop.counter0|divisibleby:2 %}
      <tr>
        <th scope="row">{{i.lawyer_id}}</th>

        <td><a href="{% url 'lawyer_full_detail_all' lawyer_id=i.lawyer_id%}">{{ i.person_id }}</a></td>
        
        <td>{{ i.fees_per_hour }}</td>
        <td>{{ i.creation_date }}</td>
        <td>{{ i.changed_date }}</td>
        <td>{{ i.comment }}</td>
        <td><a href="{% url 'lawyer_update' i.lawyer_id %}"><button class="btn btn-outline-success">Update</button></a></td>
      </tr>
      {% else %}
      <tr class="table-secondary">
        <th >{{i.lawyer_id}}</th>
        
        <td><a href="{% url 'lawyer_full_detail_all' lawyer_id=i.lawyer_id%}">{{ i.person_id }}</a></td>
        
        <td>{{ i.fees_per_hour }}</td>
        <td>{{ i.creation_date }}</td>
        <td>{{ i.changed_date }}</td>
        <td>{{ i.comment }}</td>
        <td><a href="{% url 'lawyer_update' i.lawyer_id %}"><button class="btn btn-outline-success">Update</button></a></td>
      </tr>
      {% endif %}
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}