{% extends 'users/base.html'%}
<!doctype html>
{% block body %}
<div class="container">
  <!-- <h1 class="my-3 text-center text-danger">All Users </h1> -->
  <div class="alert alert-primary my-4 text-center h1" role="alert">
  All Users </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">user_type</th>
        <th scope="col">username</th>
        <th scope="col">creation_date</th>
        <th scope="col">changed_date</th>
        <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;Update</th>
      </tr>
    </thead>
    <tbody>
      {% for i in page_obj %}
      {% if forloop.counter0|divisibleby:2 %}
      <tr>
        <td>{{ i.user_type }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.creation_date }}</td>
        <td>{{ i.changed_date }}</td>
        <td class="align-middle"><a href="{% url 'user_updateform' id=i.id %}"><button class="btn btn-outline-success">Update</button></a></td>
      </tr>
      {% else %}
      <tr class="table-secondary">
        <td>{{ i.user_type }}</td>
        <td>{{ i.username }}</td>
        <td>{{ i.creation_date }}</td>
        <td>{{ i.changed_date }}</td>
        <td class="align-middle"><a href="{% url 'user_updateform' id=i.id%}"><button class="btn btn-outline-success">Update</button></a></td>
      </tr>
      {% endif %}
      {% endfor %}

    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-1">
      {% if page_obj.has_previous %}
      <ul class="pagination inline-block">
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      </ul>
      {% endif %}
    </div>

    <div class="col-sm-1">
      <ul class="pagination">
        <li class="page-item"><span class="inline-block page-link text-center align-middle">&nbsp;&nbsp;&nbsp;&nbsp;{{ page_obj.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
      </ul>
    </div>

    <div>

      {% if page_obj.has_next %}
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      </ul>
      {% endif %}
    </div>
  </div>

</div>
<br>
<br>
{% endblock %}